HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

#src/main/resources/application.properties
#src/main/resources/daol-2025-firebase-adminsdk-fbsvc-dafc8a5b6b.json
#src/main/resources/deft-approach-446702-s9-00a32e46f60e.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/main/resources/application.properties
src/main/resources/daol-2025-firebase-adminsdk-fbsvc-dafc8a5b6b.json
src/main/resources/deft-approach-446702-s9-00a32e46f60e.json
src/main/resources/ancient-ceiling-454506-i1-1b7041a73493.json
